
{{#each lists}}

<div class='cuthere'>
<table>
	<thead>
		<tr>
			<th class="cd-title" colspan="5">{{../title}}</th>
		</tr>
		<tr>
			<th class="index">#</th>
			<th class="title">Title</th>
			<th class="bpm">BPM</th>
			<th class="key">Key</th>
			<th class="comment">Comment</th>
		</tr>
	</thead>
	<tbody>
{{#each .}}
		<tr>
			<td class="index">{{index}}</td>
			<td class="title"><span class="title"><span class="artist">{{artist}} -&nbsp;</span>{{title}}</span></td>
			<td class="bpm">{{bpm}}</td>
			<td class="key">{{key}}</td>
			<td class="comment">{{comment}}</td>
		</tr>
{{/each}}
	</tbody>
</table>
</div>

{{/each}}
