
<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>BPM</th>
			<th>Key</th>
			<th>Comment</th>
		</tr>
	</thead>
	<tbody>
{{#each this}}
		<tr>
			<td>{{index}}</td>
			<td>{{artist}} - {{title}}</td>
			<td>{{bpm}}</td>
			<td>{{key}}</td>
			<td>{{comment}}</td>
		</tr>
{{/each}}
	</tbody>
</table>
